In [3]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

In [4]:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

In [ ]:
df['a]